      <table align="center" border="0">
          <tr bgcolor="red">
              <th width="150">
                      <th><a class="navbar-brand" href="{% url 'home' %}">Welcome</a></th>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
      <th width="100"><a class="nav-item nav-link active" href="{% url 'admin' %}">Admin</a></th>
     <th width="100"><a class="nav-item nav-link active" href="{% url 'doner' %}" >Doner</a></th>
     <th width="100"><a class="nav-item nav-link active" href="{% url 'organisation' %}">Organisations</a></th>
      <th width="100"><a class="nav-item nav-link active" href="{%url 'faqs' %}">FAQS</a></th>
    </div>
  </div>
</nav>

              </th>
          </tr>
      </table>
